/* Error: Expected $args to contain a key.
 *    ,
 * 13 |   $cosas : map-merge(
 *    | ,----------^
 * 14 | |     (
 * 15 | |     "display" : flex,
 * 16 | |     "flex-direction": column,
 * 17 | |     "justify-items": center,
 * 18 | |     "align-items": center,  
 * 19 | |     )
 * 20 | | );
 *    | '-^
 *    '
 *   base\_variables.scss 13:10  @import
 *   scss\style.scss 3:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected $args to contain a key.\a    \2577 \a 13 \2502    $cosas : map-merge(\a    \2502  \250c \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 ^\a 14 \2502  \2502      (\a 15 \2502  \2502      "display" : flex,\a 16 \2502  \2502      "flex-direction": column,\a 17 \2502  \2502      "justify-items": center,\a 18 \2502  \2502      "align-items": center,  \a 19 \2502  \2502      )\a 20 \2502  \2502  );\a    \2502  \2514 \2500 ^\a    \2575 \a   base\\_variables.scss 13:10  @import\a   scss\\style.scss 3:9         root stylesheet';
}
