@charset "UTF-8";
/*Footer---------------------------------------------------------------*/
footer ul li {
  display: inline;
  margin: auto;
  position: relative;
  top: 40px;
}

footer {
  height: 120px;
  /* background-image: url('https://img1.wallspic.com/previews/8/2/9/6/4/146928/146928-textil_de_rayas_rosa_y_negro-x750.jpg'); */
}

.efecto:hover {
  transition: 1s;
  transform: scale(1.3, 1.3);
}

.imgT {
  color: white;
  size: 50px;
  font-size: 50px;
  position: relative;
  bottom: 15px;
}

.centrar {
  text-align: center;
  display: inline;
}

#img_ {
  height: 60%;
  width: 100%;
}

.activ, .activo {
  padding: 8px 16px 8px 16px;
  background-color: purple;
}

.inactivo {
  color: white;
}

.activo {
  border-radius: 5px;
  color: white;
}

* {
  margin: 0px;
  padding: 0;
}

a {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  margin: 20px;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2? family= Montserrat:wght@500 & display=swap");
}
/*Portfolio imagenes*/
.tamaño1 {
  height: 50%;
  width: 100%;
}

.tamaño2 {
  height: 27%;
  width: 100%;
}

.tamaño3 {
  height: 55%;
  width: 100%;
}

.tamaño4 {
  height: 64.5%;
  width: 75%;
}

.tamaño5 {
  height: 25%;
  width: 100%;
}

.tamaño6 {
  height: 100%;
  width: 62.5%;
}

.tamaño7 {
  height: 60%;
  width: 100%;
}

.img_header {
  width: 100%;
  height: 100%;
}

/* INDEX--------------------------------------------------------------- */
* {
  margin: 0px;
  padding: 0;
}

a {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  margin: 20px;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2? family= Montserrat:wght@500 & display=swap");
}
/*Portfolio imagenes*/
.tamaño1 {
  height: 50%;
  width: 100%;
}

.tamaño2 {
  height: 27%;
  width: 100%;
}

.tamaño3 {
  height: 55%;
  width: 100%;
}

.tamaño4 {
  height: 64.5%;
  width: 75%;
}

.tamaño5 {
  height: 25%;
  width: 100%;
}

.tamaño6 {
  height: 100%;
  width: 62.5%;
}

.tamaño7 {
  height: 60%;
  width: 100%;
}

.texto_welcome {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.margen {
  padding-left: 50px;
}

.img_index img:hover {
  left: 50px;
  position: relative;
  transition: 1.5s;
  transform: translate(20px, 20px);
}

.titulo_index h1 {
  position: relative;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.titulo_index2 p {
  width: auto;
  height: 80%;
  font-size: 20px;
  margin: auto;
  position: relative;
  /* bottom: 130px; */
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
}

.trabajos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px;
}

.trabajos h2 {
  line-height: 80%;
  font-size: 300%;
  padding: 10%;
}

.trabajos p {
  line-height: 80%;
  font-size: 200%;
  /* padding: 10%; */
}

.img_portfolio img {
  height: 450px;
  width: 750px;
}

.img_center {
  position: relative;
  bottom: 40px;
}

/* Perfil */
.titulo_perfil h2 {
  margin: auto;
  padding: auto;
  font-size: 50px;
}

.parrafo_perfil p {
  padding: auto;
  width: auto;
  height: auto;
}

.general_perfil {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.inLine {
  display: flex;
  flex-direction: row;
}

/* Contacto */
.Bordes_text h4 {
  border: purple;
  border-width: 4px;
  border-style: groove;
  width: auto;
  margin: auto;
}

.color {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.Centrar_form h2 {
  text-align: center;
}

header {
  grid-area: header;
  height: 300px;
}

nav {
  grid-area: nav;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

footer {
  grid-area: footer;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: auto;
}

#b_bloque1 {
  grid-area: b_bloque1;
  height: 120px;
  margin: 30px;
  font-size: 30%;
}

#b_bloque2a {
  grid-area: b_bloque2a;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#b_bloque2b {
  grid-area: b_bloque2b;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#b_bloque3a {
  grid-area: b_bloque3a;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#b_bloque3b {
  grid-area: b_bloque3b;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque1 {
  grid-area: m_bloque1;
  margin: 30px;
  height: 60px;
}

#m_bloque2a {
  grid-area: m_bloque2a;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque2b {
  grid-area: m_bloque2b;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque3a {
  grid-area: m_bloque3a;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque3b {
  grid-area: m_bloque3b;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque4a {
  grid-area: m_bloque4a;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque4b {
  grid-area: m_bloque4b;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#imagen_index {
  grid-area: div2a;
}

#texto_indexA {
  grid-area: div2b;
}

#texto_indexB {
  grid-area: div2bb;
}

div {
  grid-area: div;
}

#titulo_hobbie {
  grid-area: titulo;
  height: 50px;
  margin: auto;
}

#carouselE {
  grid-area: carrusel;
  width: auto;
}

#img_perfil {
  grid-area: img_perfil;
  padding-left: 20px;
}

#texto_perfilA {
  grid-area: texto_perfil;
}

#texto_perfilB {
  grid-area: texto_perfilB;
}

#nuevo {
  display: none;
}

.activo {
  padding: 2px;
}

* {
  margin: 0px;
  padding: 0;
}

a {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  margin: 20px;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2? family= Montserrat:wght@500 & display=swap");
}
/*Portfolio imagenes*/
.tamaño1 {
  height: 50%;
  width: 100%;
}

.tamaño2 {
  height: 27%;
  width: 100%;
}

.tamaño3 {
  height: 55%;
  width: 100%;
}

.tamaño4 {
  height: 64.5%;
  width: 75%;
}

.tamaño5 {
  height: 25%;
  width: 100%;
}

.tamaño6 {
  height: 100%;
  width: 62.5%;
}

.tamaño7 {
  height: 60%;
  width: 100%;
}

.grilla_index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  grid-template-areas: "header header header header" "header header header header" "nav nav nav nav " "div2a div2a div2b div2b " "div2a div2a div2bb div2bb " "footer footer footer footer";
}

.grilla_portfolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  /* grid-column-gap: 20px; */
  /* grid-template-rows: repeat(10, 600px); */
  grid-template-areas: "header header header header " "header header header header " "nav nav nav nav " "b_bloque1 b_bloque1 b_bloque1 b_bloque1" "b_bloque2a b_bloque2a b_bloque2b b_bloque2b" "b_bloque3a b_bloque3a b_bloque3b b_bloque3b" "m_bloque1 m_bloque1 m_bloque1 m_bloque1" "m_bloque2a m_bloque2a m_bloque2b m_bloque2b" "m_bloque3a m_bloque3a m_bloque3b m_bloque3b" "m_bloque4a m_bloque4a m_bloque4b m_bloque4b" "footer footer footer footer";
}

/* Grilla perfil */
.grilla_perfil {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  grid-template-areas: "header header header header" "nav nav nav nav" "img_perfil img_perfil texto_perfil texto_perfil" "img_perfil img_perfil texto_perfilB texto_perfilB" "footer footer footer footer";
}

.grilla_hobbie {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  grid-template-areas: "header header header header" "header header header header" "nav nav nav nav" "titulo titulo titulo titulo" "carrusel carrusel carrusel carrusel" "footer footer footer footer";
}

.grilla_contacto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  grid-template-areas: "header header header header" "header header header header" "nav nav nav nav" "titulo titulo titulo titulo" "div div div div" "footer footer footer footer";
}

header {
  grid-area: header;
  height: 300px;
}

nav {
  grid-area: nav;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

footer {
  grid-area: footer;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: auto;
}

#b_bloque1 {
  grid-area: b_bloque1;
  height: 120px;
  margin: 30px;
  font-size: 30%;
}

#b_bloque2a {
  grid-area: b_bloque2a;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#b_bloque2b {
  grid-area: b_bloque2b;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#b_bloque3a {
  grid-area: b_bloque3a;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#b_bloque3b {
  grid-area: b_bloque3b;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque1 {
  grid-area: m_bloque1;
  margin: 30px;
  height: 60px;
}

#m_bloque2a {
  grid-area: m_bloque2a;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque2b {
  grid-area: m_bloque2b;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque3a {
  grid-area: m_bloque3a;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque3b {
  grid-area: m_bloque3b;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque4a {
  grid-area: m_bloque4a;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#m_bloque4b {
  grid-area: m_bloque4b;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#imagen_index {
  grid-area: div2a;
}

#texto_indexA {
  grid-area: div2b;
}

#texto_indexB {
  grid-area: div2bb;
}

div {
  grid-area: div;
}

#titulo_hobbie {
  grid-area: titulo;
  height: 50px;
  margin: auto;
}

#carouselE {
  grid-area: carrusel;
  width: auto;
}

#img_perfil {
  grid-area: img_perfil;
  padding-left: 20px;
}

#texto_perfilA {
  grid-area: texto_perfil;
}

#texto_perfilB {
  grid-area: texto_perfilB;
}

#nuevo {
  display: none;
}

.activo {
  padding: 2px;
}

/* MEDIA MOBILE------------------------------------- */
@media (min-width: 441px) and (max-width: 780px) {
  header {
    height: 200px;
  }

  nav {
    height: 20px;
    padding: 0;
  }

  .imgT {
    font-size: 30px;
  }

  footer {
    height: 100px;
  }

  nav a {
    font-size: 100%;
    line-height: 20px;
    margin: auto;
    padding: 5px;
  }

  /* PORTFOLIO------------------------------------ */
  /* INDEX */
  .titulo_index h1 {
    right: 40px;
    font-size: 20px;
    text-align: center;
  }

  .titulo_index2 p {
    font-size: 10px;
    right: 40px;
    text-align: center;
  }

  /* PORTFOLIO */
  .imgT {
    /* size: 20px; */
    font-size: 40px;
  }

  /* Grid */
  /* --------------------------------- */
  .grilla_portfolio {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(10, 1fr); */
    grid-template-areas: "header header " "nav nav  " "b_bloque1 b_bloque1 " "b_bloque2a b_bloque2a " "b_bloque2b b_bloque2b " "b_bloque3a b_bloque3a " "b_bloque3b b_bloque3b " "m_bloque1 m_bloque1 " "m_bloque2a m_bloque2a " "m_bloque2b m_bloque2b " "m_bloque3a m_bloque3a " "m_bloque3b m_bloque3b " "m_bloque4a m_bloque4a" "m_bloque4b m_bloque4b" "footer footer";
    /* --------------------------------- */
  }

  .grilla_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "nav nav " "div2b div2b" "div2a div2a " "div2bb div2bb" "footer footer";
    align-items: center;
    justify-items: center;
  }

  .grilla_perfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "nav nav" "texto_perfil texto_perfil " "img_perfil  img_perfil" "texto_perfilB texto_perfilB " "footer footer";
    align-items: center;
    justify-items: center;
  }

  .grilla_hobbie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "nav nav" "titulo titulo" "carrusel carrusel" "footer footer footer";
    align-items: center;
    justify-items: center;
  }

  .grilla_contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "nav nav" "div div " "div div" "div div" "footer footer";
    align-items: center;
    justify-items: center;
  }
}
@media (min-width: 781px) and (max-width: 1200px) {
  nav a {
    font-size: 10px;
    line-height: 10px;
    padding: 1%;
  }

  .titulo_index h1 {
    position: relative;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }

  .titulo_index2 p {
    width: auto;
    height: auto;
    font-size: 15px;
    position: relative;
    /* bottom: 130px; */
    right: 100px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
  }

  /* Grid */
  /* --------------------------------- */
  .grilla_portfolio {
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(10, 1fr); */
    grid-template-areas: "header header header header" "nav nav nav nav" "b_bloque1 b_bloque1 b_bloque1 b_bloque1" "b_bloque2a b_bloque2a b_bloque2b b_bloque2b" "b_bloque3a b_bloque3a  b_bloque3b b_bloque3b" "m_bloque1 m_bloque1 m_bloque1 m_bloque1" "m_bloque2a m_bloque2a m_bloque2b m_bloque2b" "m_bloque3a m_bloque3a m_bloque3b m_bloque3b" "m_bloque4a m_bloque4a m_bloque4b m_bloque4b" "footer footer footer footer";
    /* ------------------------------ */
  }

  .grilla_index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20%;
    grid-template-areas: "header header header" "nav nav nav" "div2a div2a div2b " "div2a div2a div2bb " "footer footer footer";
    align-items: center;
    justify-items: center;
  }

  .grilla_perfil {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header" "nav nav nav nav" "img_perfil img_perfil texto_perfil texto_perfil" "img_perfil img_perfil texto_perfilB texto_perfilB" "footer footer footer footer";
    align-items: center;
    justify-items: center;
  }

  .grilla_hobbie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20%;
    grid-template-areas: "header header header" "nav nav nav" "titulo titulo titulo" "carrusel carrusel carrusel" "footer footer footer";
    align-items: center;
    justify-items: center;
  }

  .grilla_contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20%;
    grid-template-areas: "header header header" "nav nav nav" "div div div " "div div div" "div div div" "footer footer footer";
    align-items: center;
    justify-items: center;
  }
}
@media (max-width: 440px) {
  header {
    height: 100px;
  }

  nav {
    height: 20px;
    padding: 0;
  }

  #nuevo {
    display: inline;
  }

  footer {
    height: 100px;
  }

  .imgT {
    font-size: 20px;
    size: 10px;
  }

  nav a {
    font-size: 10px;
    line-height: 10px;
    padding: 1%;
    margin: 10px;
  }

  /* PORTFOLIO------------------------------------ */
  /* INDEX */
  .titulo_index h1 {
    font-size: 20px;
    text-align: center;
  }

  .titulo_index2 p {
    font-size: 10px;
    text-align: center;
  }

  /* PORTFOLIO */
  .imgT {
    /* size: 20px; */
    font-size: 20px;
    size: 20px;
  }

  footer ul li {
    margin: auto;
    padding: 0px;
  }

  footer ul li a {
    margin: auto;
    padding: 0px;
  }

  /* Grid */
  /* --------------------------------- */
  .grilla_portfolio {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(10, 1fr); */
    grid-template-areas: "header header " "nav nav  " "b_bloque1 b_bloque1 " "b_bloque2a b_bloque2a " "b_bloque2b b_bloque2b " "b_bloque3a b_bloque3a " "b_bloque3b b_bloque3b " "m_bloque1 m_bloque1 " "m_bloque2a m_bloque2a " "m_bloque2b m_bloque2b " "m_bloque3a m_bloque3a " "m_bloque3b m_bloque3b " "m_bloque4a m_bloque4a" "m_bloque4b m_bloque4b" "footer footer";
    /* --------------------------------- */
  }

  .grilla_index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "nav nav " "div2b div2b" "div2a div2a " "div2bb div2bb" "footer footer";
    align-items: center;
    justify-items: center;
  }

  .grilla_perfil {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "nav nav" "texto_perfil texto_perfil " "img_perfil  img_perfil" "texto_perfilB texto_perfilB " "footer footer";
    align-items: center;
    justify-items: center;
  }

  .grilla_hobbie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "nav nav" "titulo titulo" "carrusel carrusel" "footer footer footer";
    align-items: center;
    justify-items: center;
  }

  .grilla_contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "nav nav" "div div " "div div" "div div" "footer footer";
    align-items: center;
    justify-items: center;
  }
}
* {
  margin: 0px;
  padding: 0;
}

a {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  margin: 20px;
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2? family= Montserrat:wght@500 & display=swap");
}
/*Portfolio imagenes*/
.tamaño1 {
  height: 50%;
  width: 100%;
}

.tamaño2 {
  height: 27%;
  width: 100%;
}

.tamaño3 {
  height: 55%;
  width: 100%;
}

.tamaño4 {
  height: 64.5%;
  width: 75%;
}

.tamaño5 {
  height: 25%;
  width: 100%;
}

.tamaño6 {
  height: 100%;
  width: 62.5%;
}

.tamaño7 {
  height: 60%;
  width: 100%;
}

body {
  background-image: linear-gradient(to bottom, black, black, #ac26a1);
}

/*# sourceMappingURL=style.css.map */
