// Definición de tamaños media
$tablet_min: 781px;
$tablet_max: 1200px;
$mobil_min: 579px;
$mobil_max: 780px;
$cel_max :578px;
$cel_min: 240px;

header{
    grid-area: header;
    height: 300px;
}

nav{
    grid-area: nav;
    height: auto;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


footer{
    grid-area: footer;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: auto;
}

#b_bloque1{
    grid-area: b_bloque1;
    height: 120px;
    margin: 30px;
    font-size: 30%;
    }
#b_bloque2a{
    grid-area: b_bloque2a;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
} 
#b_bloque2b{
    grid-area: b_bloque2b;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#b_bloque3a{
    grid-area: b_bloque3a;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#b_bloque3b{
    grid-area: b_bloque3b;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#m_bloque1{
    grid-area: m_bloque1;
    margin: 30px;
    height: 60px;
    
}

#m_bloque2a{
    grid-area: m_bloque2a;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#m_bloque2b{
    grid-area: m_bloque2b;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#m_bloque3a{
    grid-area: m_bloque3a;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-content: center;
}
#m_bloque3b{
    grid-area: m_bloque3b;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#m_bloque4a{
    grid-area: m_bloque4a;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#m_bloque4b{
    grid-area: m_bloque4b;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#imagen_index{
    grid-area: div2a;
    

}
#texto_indexA{
    grid-area: div2b;
}
#texto_indexB{
    grid-area: div2bb;
}

div{
    grid-area: div;
}
#titulo_hobbie{
    grid-area: titulo;
    height: 50px;
    margin: 50px;
}
#carouselExampleIndicators{
    grid-area: carrusel;
    width: auto;
}
.carousel-item{
    display: flex;
    align-items: center;
}
#img_perfil{
    grid-area: img_perfil;
    padding-left: 20px;
}
#texto_perfilA{
    grid-area: texto_perfil;
}
#texto_perfilB{
    grid-area: texto_perfilB;
}