/* Contacto */

.Bordes_text h4{
    border: purple;
    border-width: 4px;
    border-style: groove;
    width: 900px;
    margin: 10px;
    position: relative;
   
}
.color{
    color: white;
    font-family: 'Montserrat', sans-serif ;
}
.Centrar_form h2{
    text-align: center;
}
