@import "../base/variables";

.grilla_index{
    @include grillA;
    
    grid-template-areas:
        "header header header header"
        "header header header header"
        "nav nav nav nav "
        "div2a div2a div2b div2b "
        "div2a div2a div2bb div2bb "
        "footer footer footer footer"
    ;
    
    
} 




.grilla_portfolio{
    @include grillA;
    /* grid-column-gap: 20px; */
        /* grid-template-rows: repeat(10, 600px); */
        
    grid-template-areas:
        "header header header header "        
        "header header header header "  
        "nav nav nav nav "
        "b_bloque1 b_bloque1 b_bloque1 b_bloque1"
        "b_bloque2a b_bloque2a b_bloque2b b_bloque2b"        
        "b_bloque3a b_bloque3a b_bloque3b b_bloque3b"
        "m_bloque1 m_bloque1 m_bloque1 m_bloque1"
        "m_bloque2a m_bloque2a m_bloque2b m_bloque2b"
        "m_bloque3a m_bloque3a m_bloque3b m_bloque3b"
        "m_bloque4a m_bloque4a m_bloque4b m_bloque4b"
        "footer footer footer footer"
    ;
        
        
    

        
}

/* Grilla perfil */
.grilla_perfil{
    @include grillA;

    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "img_perfil img_perfil texto_perfil texto_perfil"
    "img_perfil img_perfil texto_perfilB texto_perfilB"
    "footer footer footer footer"
    ;

  
}
.grilla_hobbie{
    @include grillA;

    grid-template-areas: 
    "header header header header"
    "header header header header"
    "nav nav nav nav"
    "titulo titulo titulo titulo"
    "carrusel carrusel carrusel carrusel"
    "footer footer footer footer"
    ;

    
}

.grilla_contacto{
    @include grillA;

    grid-template-areas: 
    "header header header header"
    "header header header header"
    "nav nav nav nav"
    "titulo titulo titulo titulo"
    "div div div div"
    "footer footer footer footer"
    ;

    
}


