/* INDEX--------------------------------------------------------------- */
@import "../base/variables";

// .linea {
//     display: inline-block;
//     align-items: center;   
// }


.texto_welcome {
    display: map-get($cosas , display );
    flex-direction: map-get($cosas , flex-direction );
    justify-items:map-get($cosas , justify-items ) ;
    align-items: map-get($cosas , align-items );   
}
.margen{
    padding-left: 50px;
}

.img_index  img:hover{
    left: 50px;
    position: relative;
    transition: 1.5s;
    transform: translate(20px, 20px);
} 

.titulo_index   h1{
    position: relative;
    // bottom: 50px;
    // right: 100px;
    margin: auto;
    font-family: 'Montserrat', sans-serif ;
    font-size: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif ;
    text-align: center;


}

 
.titulo_index2   p{
    width: auto;
    height: 80%;
    font-size: 20px;
    
    margin: auto;
    position: relative;
    /* bottom: 130px; */
    // right: 100px;
    font-family: 'Montserrat', sans-serif ;
    text-align: center;
    color: white;
   
} 
