.activ{
    padding: 8px 16px 8px 16px;
    background-color: purple;
    
}
.inactivo{
     color: white;
}
// Utilizacion de un extend
.activo{
    @extend .activ;

    border-radius: 5px;
    color: white;

}