/* Perfil */

.titulo_perfil h2{
    
    margin: auto;
    padding: auto;
    
    font-size: 50px;
}
.parrafo_perfil p{
    
    padding: auto;
    width: auto;
    height: auto;
    
}

.general_perfil{
    color: white;
    font-family: 'Montserrat', sans-serif ;
}
.inLine{
    display: flex;
    flex-direction: row;
}

