.trabajos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif ;
    text-align: center;
    padding: 10px;
    
}


.trabajos h2{
    line-height: 80%;
    font-size: 300%;
    padding: 10%;
}

.trabajos p{
    line-height: 80%;
    font-size: 200%;
    /* padding: 10%; */

}

.img_portfolio img{
    height: 450px;
    width: 750px;
}


.img_center{
    position: relative;
    bottom: 40px; 
}
